@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat:wght@100;400;700&display=swap');

/* * mean you wanna apply to everything  */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 120vh;
    overflow-x: hidden;
}

#bg {
    background: url('https://images.unsplash.com/photo-1529154631088-a0e516571c60?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    position: absolute;
    width: calc(120vw + 60px);
    height: calc(120vh + 60px);
    filter: blur(10px);
    z-index: -1;
}

.user-form {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
}

.user-form h1 {
    color: #fff;
}

.user-form input {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: #fff;
}

.user-form input::placeholder {
    font-family: 'lemonda';
    color: #bbb;
}

.cards {
    display: flex;
    max-width: 800px;
    border-radius: 20px;
    padding: 1rem;
    margin: 0 1.5rem;
    background-color: #fff;
}

.country-info {
    margin: 1rem;
}

.flag {
    height: 150px;
    width: 250px;
    border-radius: 5px;
}


/* Portrait */

@media(max-width: 500px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .user-form {
        max-width: 400px;
    }
    .country-info h5 {
        font-size: 1.2rem;
        text-align: center;
        margin-right: 5px;
    }
    body {
        height: 150vh;
    }
    .country-info small {
        text-align: center;
    }
}